<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ansi 0 Color</key>
	<dict>
		<key>Blue Component</key>
		<real>{{base00-prc-b}}</real>
		<key>Green Component</key>
		<real>{{base00-prc-g}}</real>
		<key>Red Component</key>
		<real>{{base00-prc-r}}</real>
	</dict>
	<key>Ansi 1 Color</key>
  <dict>
		<key>Blue Component</key>
		<real>{{base08-prc-b}}</real>
		<key>Green Component</key>
		<real>{{base08-prc-g}}</real>
		<key>Red Component</key>
		<real>{{base08-prc-r}}</real>
	</dict>
	<key>Ansi 2 Color</key>
  <dict>
		<key>Blue Component</key>
		<real>{{base0B-prc-b}}</real>
		<key>Green Component</key>
		<real>{{base0B-prc-g}}</real>
		<key>Red Component</key>
		<real>{{base0B-prc-r}}</real>
	</dict>
	<key>Ansi 3 Color</key>
  <dict>
		<key>Blue Component</key>
		<real>{{base0A-prc-b}}</real>
		<key>Green Component</key>
		<real>{{base0A-prc-g}}</real>
		<key>Red Component</key>
		<real>{{base0A-prc-r}}</real>
	</dict>
	<key>Ansi 4 Color</key>
  <dict>
		<key>Blue Component</key>
		<real>{{base0C-prc-b}}</real>
		<key>Green Component</key>
		<real>{{base0C-prc-g}}</real>
		<key>Red Component</key>
		<real>{{base0C-prc-r}}</real>
	</dict>
	<key>Ansi 5 Color</key>
  <dict>
		<key>Blue Component</key>
		<real>{{base0D-prc-b}}</real>
		<key>Green Component</key>
		<real>{{base0D-prc-g}}</real>
		<key>Red Component</key>
		<real>{{base0D-prc-r}}</real>
	</dict>
	<key>Ansi 6 Color</key>
  <dict>
		<key>Blue Component</key>
		<real>{{base0E-prc-b}}</real>
		<key>Green Component</key>
		<real>{{base0E-prc-g}}</real>
		<key>Red Component</key>
		<real>{{base0E-prc-r}}</real>
	</dict>
	<key>Ansi 7 Color</key>
  <dict>
		<key>Blue Component</key>
		<real>{{base07-prc-b}}</real>
		<key>Green Component</key>
		<real>{{base07-prc-g}}</real>
		<key>Red Component</key>
		<real>{{base07-prc-r}}</real>
	</dict>
	<key>Ansi 8 Color</key>
  <dict>
		<key>Blue Component</key>
		<real>{{base00-prc-b}}</real>
		<key>Green Component</key>
		<real>{{base00-prc-g}}</real>
		<key>Red Component</key>
		<real>{{base00-prc-r}}</real>
	</dict>
	<key>Ansi 9 Color</key>
  <dict>
		<key>Blue Component</key>
		<real>{{base08-prc-b}}</real>
		<key>Green Component</key>
		<real>{{base08-prc-g}}</real>
		<key>Red Component</key>
		<real>{{base08-prc-r}}</real>
	</dict>
  <key>Ansi 10 Color</key>
  <dict>
    <key>Blue Component</key>
    <real>{{base0B-prc-b}}</real>
    <key>Green Component</key>
    <real>{{base0B-prc-g}}</real>
    <key>Red Component</key>
    <real>{{base0B-prc-r}}</real>
  </dict>
  <key>Ansi 11 Color</key>
  <dict>
    <key>Blue Component</key>
    <real>{{base0A-prc-b}}</real>
    <key>Green Component</key>
    <real>{{base0A-prc-g}}</real>
    <key>Red Component</key>
    <real>{{base0A-prc-r}}</real>
  </dict>
  <key>Ansi 12 Color</key>
  <dict>
    <key>Blue Component</key>
    <real>{{base0C-prc-b}}</real>
    <key>Green Component</key>
    <real>{{base0C-prc-g}}</real>
    <key>Red Component</key>
    <real>{{base0C-prc-r}}</real>
  </dict>
  <key>Ansi 13 Color</key>
  <dict>
    <key>Blue Component</key>
    <real>{{base0D-prc-b}}</real>
    <key>Green Component</key>
    <real>{{base0D-prc-g}}</real>
    <key>Red Component</key>
    <real>{{base0D-prc-r}}</real>
  </dict>
  <key>Ansi 14 Color</key>
  <dict>
    <key>Blue Component</key>
    <real>{{base0E-prc-b}}</real>
    <key>Green Component</key>
    <real>{{base0E-prc-g}}</real>
    <key>Red Component</key>
    <real>{{base0E-prc-r}}</real>
  </dict>
  <key>Ansi 15 Color</key>
  <dict>
    <key>Blue Component</key>
    <real>{{base07-prc-b}}</real>
    <key>Green Component</key>
    <real>{{base07-prc-g}}</real>
    <key>Red Component</key>
    <real>{{base07-prc-r}}</real>
  </dict>

	<key>Background Color</key>
  <dict>
		<key>Blue Component</key>
		<real>{{base00-prc-b}}</real>
		<key>Green Component</key>
		<real>{{base00-prc-g}}</real>
		<key>Red Component</key>
		<real>{{base00-prc-r}}</real>
	</dict>
	<key>Bold Color</key>
  <dict>
		<key>Blue Component</key>
		<real>{{base04-prc-b}}</real>
		<key>Green Component</key>
		<real>{{base04-prc-g}}</real>
		<key>Red Component</key>
		<real>{{base04-prc-r}}</real>
	</dict>
	<key>Cursor Color</key>
	<dict>
		<key>Blue Component</key>
		<real>{{base05-prc-b}}</real>
		<key>Green Component</key>
		<real>{{base05-prc-g}}</real>
		<key>Red Component</key>
		<real>{{base05-prc-r}}</real>
	</dict>
	<key>Cursor Text Color</key>
  <dict>
		<key>Blue Component</key>
		<real>{{base09-prc-b}}</real>
		<key>Green Component</key>
		<real>{{base09-prc-g}}</real>
		<key>Red Component</key>
		<real>{{base09-prc-r}}</real>
	</dict>
	<key>Foreground Color</key>
  <dict>
		<key>Blue Component</key>
		<real>{{base05-prc-b}}</real>
		<key>Green Component</key>
		<real>{{base05-prc-g}}</real>
		<key>Red Component</key>
		<real>{{base05-prc-r}}</real>
	</dict>
	<key>Selected Text Color</key>
  <dict>
		<key>Blue Component</key>
		<real>{{base02-prc-b}}</real>
		<key>Green Component</key>
		<real>{{base02-prc-g}}</real>
		<key>Red Component</key>
		<real>{{base02-prc-r}}</real>
	</dict>
	<key>Selection Color</key>
  <dict>
		<key>Blue Component</key>
		<real>{{base02-prc-b}}</real>
		<key>Green Component</key>
		<real>{{base02-prc-g}}</real>
		<key>Red Component</key>
		<real>{{base02-prc-r}}</real>
	</dict>
</dict>
</plist>
